# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc

# Datos grandes
data/games.csv

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store

#mejoras temporales
IMPROVEMENTS.md